<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.external"
        android:required="false" />
<!--    <uses-feature-->
<!--        android:name="android.software.home_screen"-->
<!--        android:required="true" />-->

    <!-- Add these features with required="false" for USB camera support -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
<!--    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />-->
<!--    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />-->
<!--    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />-->
    <uses-permission android:name="com.adx.permission.ADMIN"/>
    <permission
        android:name="com.adx.permission.ADMIN"
        android:protectionLevel="signature" />


    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.UntitledAd"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".CameraDetectActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:turnScreenOn="true">
        </activity>

        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:turnScreenOn="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name=".services.LiveCameraDetectService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="camera|dataSync" />

        <service
            android:name=".services.BootStarterService"
            android:enabled="true"
            android:stopWithTask="false"
            android:exported="false"
            android:directBootAware="true"
            android:foregroundServiceType="specialUse"/>

        <service
            android:name=".services.CameraBackgroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="camera" />

        <!--&lt;!&ndash; Add this to declare your app as a system app (for Android TV) &ndash;&gt;
        <property
            android:name="android.app.system_app"
            android:value="true" />-->

        <!--<receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>-->

    </application>

</manifest>